<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.adregamdi.place.query.infra.repository.PlaceMapper">

    <resultMap id="placeResultMap1" type="com.ohgiraffers.adregamdi.place.query.domain.entity.SearchPlace" autoMapping="false">
        <id property="placeNo" column="PLACE_NO"/>
        <result property="placeName" column="PLACE_NAME"/>
        <result property="placeAddress" column="PLACE_ADDRESS"/>
        <result property="roadPlaceAddress" column="ROAD_PLACE_ADDRESS"/>
    </resultMap>
    <select id="searchMapByKeyword" resultMap="placeResultMap1">
        SELECT
            PLACE_NO
        ,   PLACE_NAME
        ,   PLACE_ADDRESS
        ,   ROAD_PLACE_ADDRESS
        FROM TBL_PLACE
        WHERE PLACE_NAME LIKE CONCAT('%',#{keyword},'%')
        ORDER BY PLACE_NAME
    </select>
    
</mapper>