<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.adregamdi.suggestion.command.infra.repository.SuggestionMapper">



    <insert id="saveSuggestion" parameterType="com.ohgiraffers.adregamdi.suggestion.command.domain.aggregate.entity.Suggestion">
        INSERT
               INTO TBL_SUGGESTION
        (
               USER_NO
             , SUGGESTION
        )
        VALUES
        (
               #{userNo}
             , #{suggestion}
        )
    </insert>

    <delete id="deleteSuggestion" parameterType="com.ohgiraffers.adregamdi.suggestion.command.domain.aggregate.entity.Suggestion">
        DELETE
            FROM TBL_SUGGESTION
        WHERE SUGGESTION_NO = #{suggestionNo}
    </delete>

</mapper>