<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>
<th:block th:if="${session.loginUser == null}">
    <script language="javascript">
        parent.location.replace("http://adregamdi.site:9090");
    </script>
</th:block>
<form action="user/updateNickName" method="post">
    <th:block th:if="${session.loginUser.getServiceNickName() == ''}">
        <span th:text="${session.loginUser.getKakaoNickName()}"></span>
        <span>님의 마이페이지</span>
    </th:block>
    <th:block th:if="${session.loginUser.getServiceNickName() != ''}">
        <spna th:text="${session.loginUser.getServiceNickName()}"></spna>
        <span>님의 마이페이지</span>
    </th:block>
    <br>
    <label>
        <input id="changeNickName" name="nickName" type="text">
    </label>
    <button type="submit">닉네임 변경하기</button>
</form>
<button onclick="location.href='/main'">홈으로 가기</button>
<br>
<button class="upperBtn" onclick="location.href='/user/deleteForm'" type="button">회원탈퇴</button>
</body>
</html>
