* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "HallymGothic-Regular";
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}


/* main */
main{
    display: flex;
    background-color: #f5f5f9;
    color: #697a8d;
}
.menuList{
    width: 200px;
    margin:0 auto;
    margin-top: 65%;
    font-weight: bold;
    font-size:30px;

}
.menuList li{
    margin-top: 100px;
}
.sideMenu{
    background-color: white;
    border-right: 1px solid black;
    height: 100vh;
    width: 300px;
    text-align: center;
}
.on{
    color: #696cff;
    border-bottom: 2px solid #696cff;

    animation: linemove 1s alternate;
}

@keyframes linemove1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#adminBtn{
    font-size: 50px;
    width: 300px;
    margin-top:30px;
    text-align: center;
    color: #566a7f;
}
#adminBtn>img{
    float: left;
    position: relative;
    top: 12px;
    left: 30px;
    width: 40px;
}
/* #adminBtn>li */
.contents{


    width: 80%;
    height: 100vh;
    margin: 0 auto;

}
.contentsWrap{
    width: 100%;

    border: 1px solid black;

    border-radius: 10px;

    margin:50px auto;
}

.tableHeader{
    width: 100%;
    height: 40px;

    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid black;
    background-color: #FFf;
}
.tableHeader>p{
    position: relative;
    top: 10px;
    left: 20px;
}
.tableHeader>p>img{
    width: 20px;
    margin-right: 15px;
    position: relative;
    top: 3px;
}
.tableHeader>p>span{
    width: 300px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: #696cff;
}
.userList{

    width: 100%;

    overflow-y: scroll;
    overflow-x: hidden;

}
.userList::-webkit-scrollbar {
    width: 5px; /*스크롤바의 너비*/
}

.userList::-webkit-scrollbar-thumb {
    background-color: black; /*스크롤바의 색상*/
    border-radius: 5px;
}
.contents>h3{
    width: 300px;
    margin: 50px auto;
    text-align: center;
    font-size: 40px;
}
.blackList{
    display: none;
}

.reportList{
    display: none;
}
.reportList>h3{
    width: 300px;
    margin: 50px auto;
    text-align: center;
}
/* content table */
table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
    margin: 0px auto;
}
th,
td {
    border: 1px solid #aaa;
    background-clip: padding-box;
    scroll-snap-align: start;
    background-color: #FFf;
}
tbody tr:last-child th,
tbody tr:last-child td {
    border-bottom: 0;
}
thead {
    z-index: 1000;
    position: relative;
}
th,
td {
    padding: 0.6rem;
    min-width: 6rem;
    text-align: left;
    margin: 0;
}
thead th {
    position: sticky;
    top: 0;
    border-top: 0;
    background-clip: padding-box;
}
thead th.pin {
    left: 0;
    z-index: 1001;
    border-left: 0;
}
tbody th {
    background-clip: padding-box;
    border-left: 0;
}
tbody {
    z-index: 10;
    position: relative;
}
tbody th {
    position: sticky;
    left: 0;
}
thead th,
tbody th {
    background-color: #f8f8f8;
}