/* 공통 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "HallymGothic-Regular";
    list-style: none;
    font-family: Roboto, "Noto Sans KR", Arial, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
body {
    margin: 0;
}
.schedule-container {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.schedule-list {
    display: flex;
    flex-direction: column;
    float: none;
    width: 25%;
    background-color: #f6fdf8;
}

.schedule-content {
    display: flex;
    flex: 1;
}

.schedule-map {
    display: flex;
    flex: 1;
    overflow: auto;
}
.searchBox {
    margin: 30px 0;
}
.serchBtn {
    border-radius: 5px;
    width: 70px;
    height: 30px;
    border: none;
    color: white;
    background-color: green;
}
.BtnBox {
    position: relative;
    top: 803px;
    left: 45px;
    width: 350px;

    z-index: 2;
    display: block;
}
.BtnBox > button {
    border: none;
    background-color: transparent;
    margin: 0 40px;
    cursor: pointer;
}
.BtnBox > button > p {
    font-size: 15px;
}
.BtnBox > button > img {
    width: 30px;
}
.BtnBox > span {
    border: none;
    background-color: transparent;
    margin: 0 40px;
    cursor: pointer;
}
.BtnBox > span > p {
    font-size: 15px;
}
.BtnBox > span > img {
    width: 30px;
}
/* 검색 */
#menu_wrap {
    display: none;
}

/* 일정 box */
#day_wrap {
    display: block;
}
.daySelect {
    text-align: center;
    width: 300px;
    margin: 50px auto;
}
.daySchedule {
    background-color: gray;
    display: flex;
}
.numCircle {
    width: 20px;
    border-radius: 50%;
    background-color: palevioletred;
    text-align: center;
    margin: 20px;
}
.dashLine {
    width: 5px;
    height: 40px;
    border-left: dotted;
    margin: 0 auto;
}

.daynum {
    display: inline-block;
    /* background-color: aqua; */
    margin-left: 40px;
}
.wayPoint {
    margin: 0 20px;

    /* background-color: blanchedalmond; */
}
.km {
    margin: 75px 0;
}
.dayContents {
    /* background-color: aquamarine; */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 40px;
}
.dayContents > div:first-child {
    margin-top: 15px;
}
.dayContents > div {
    margin-bottom: 65px;
}

/* 상세 box */

.imgBox > img {
    width: 100%;
}
.titleBox {
    padding: 10px 20px;
}
.titleBox > span {
    font-size: 23px;
}
hr {
    width: 100%;
    border-bottom: 0px;
    text-align: left;
    margin-left: 0px;
}

.navBar {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.navBar > li {
    font-size: 14px;
    margin-bottom: 10px;
    color: #70757a;
    cursor: pointer;
}
#info_wrap {
    display: none;
}
.infoContents {
    margin-top: 30px;
    display: none;
}
.infoContents > .info > p {
    margin-left: 30px;
}
.infoContents > .info > p > img {
    width: 25px;
}
.infoContents > .info > p > span {
    font-size: 15px;
    color: #70757a;
    margin-left: 40px;
}
.addBtn {
    width: 200px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.scheduleAdd {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid blue;
    color: blue;
}

/* 리뷰 */
.on {
    color: blue;
    border-bottom: 1px solid blue;
}
.reviewContainer {
    display: none;
}
.reviewHeader {
    margin-top: 30px;
}
.reiewBtnBox {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
.reviewBtn {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid blue;
    color: blue;
}
#infoNav:hover {
    color: blue;
    border-bottom: 1px solid blue;
}
#reviewNav:hover {
    color: blue;
    border-bottom: 1px solid blue;
}
.reviewBtn > img {
    width: 15px;
    margin-right: 14px;
}
.reviewContents > img {
    width: 15px;
    margin-right: 10px;
}
.reviewContents {
    font-size: 11px;
    font-weight: bold;
    line-height: 19px;
    overflow: hidden;
}
.reviewImg > img {
    width: 100%;
}
.csBox {
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
}
.csBox > div {
    margin-right: 30px;
}
.csBox > div > img {
    width: 20px;
    margin-right: 15px;
}
.csBox > div > span {
    position: relative;
    top: 4px;
}
.white {
    display: none;
}
.black {
    display: block;
}
