<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">

<head>
    <link href="/css/main.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Title</title>

</head>
<script>
    history.pushState(null, null, location.href);

    window.onpopstate = function () {
        history.go(1);
    };
</script>

<body>
<div id="Wrapper1">
    <div class="bodyimg">
        <img src="./images/maintitle1.jpg" alt="">
    </div>
    <div class="UpperBar">
        <div class="mainTitleBox">
            <img class="logo" src="./images/goodlogo.png"/>
            <img class="siteName" src="./images/Adregamdi.png"/>
        </div>
        <div class="loginBox beforLogin">
            <th:block th:if="${session.loginUser == null}">

                <a href="https://kauth.kakao.com/oauth/authorize?client_id=dd52d3a258bf3ccbc37de832dfecd0d4&redirect_uri=http://localhost:8080/oauth/kakao/login&response_type=code"
                   id="kakao-login-btn" class="upperBtn1">
                    <img alt="카카오 로그인 버튼" src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg"
                         width="300" />
                </a>
            </th:block>
            <th:block th:if="${session.loginUser != null}" class="afterLogin" style="display: none;">
                <div class="center-title" >
                    <th:block th:if="${session.loginUser.getServiceNickName() == ''}">
                        <span class="user-title" th:text="${session.loginUser.getKakaoNickName()}"></span>
                        <span>님 환영합니다!</span>
                    </th:block>
                    <!-- <th:block th:if="${session.loginUser.getServiceNickName() != ''}">
                        <span class="user-title" th:text="${session.loginUser.getServiceNickName()}"></span>
                        <span> 님 환영합니다!</span>
                    </th:block> -->
                </div>

                <div class="myPageBtn">
                    <button class="upperBtn" onclick="location.href='/schedule'" type="button">일정 짜기</button>
                </div>
                <div class="myPageBtn">
                    <button class="upperBtn" onclick="location.href='/myPage'" type="button">마이 페이지</button>
                </div>
                <th:block th:if="${session.loginUser.getGrade() == 1}">
                    <div class="adminPageBtn">
                        <button class="upperBtn" onclick="location.href='/adminPage'" type="button">관리자 페이지</button>
                    </div>
                </th:block>
                <th:block th:if="${session.service.equals('kakao')}">
                    <div class="logoutBtn">
                        <button class="upperBtn"
                                onclick="location.href='https://kauth.kakao.com/oauth/logout?client_id=dd52d3a258bf3ccbc37de832dfecd0d4&logout_redirect_uri=http://localhost:8080/oauth/kakao/logout'"
                                type="button">
                            로그아웃
                        </button>
                    </div>
                </th:block>
                <th:block th:if="${session.service.equals('naver')}">
                    <div class="logoutBtn">
                        <button class="upperBtn" onclick="location.href=''" type="button">
                            로그아웃
                        </button>
                    </div>
                </th:block>
            </th:block>
<!--                <script src="/js/main.js"></script>-->
</body>
</html>