<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <link href="/css/main.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Title</title>
    <style>
        #login-modal {
            width: 300px;
            height: 300px;
            font-size: 30px;
            border-width: thick;
            border-radius: 7px;
            color: black;
            background-color: lightblue;
            border-color: black;
        }

        #login-title {
            margin-bottom: 20px;
        }

        .center-title {
            margin-top: 10px;
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>
<script>
    history.pushState(null, null, location.href);

    window.onpopstate = function () {
        history.go(1);
    };
</script>
<body>
<div id="Wrapper1">

    <div class="UpperBar">
        <img class="logo" src="/images/goodlogo.png">
        <img class="siteName" src="/images/Adregamdi.png">
        <div class="loginBox">
            <th:block th:if="${session.loginUser == null}">
                <div class="loginBtn">
                    <button class="upperBtn" id="loginBtn" type="button">로그인</button>
                </div>
            </th:block>
            <th:block th:if="${session.loginUser != null}">
                <div class="center-title">
                    <th:block th:if="${session.loginUser.getServiceNickName() == ''}">
                        <span class="user-title" th:text="${session.loginUser.getKakaoNickName()}"></span>
                        <span style="color: transparent;
                        -webkit-text-stroke: 2px black;"> 님 환영합니다!</span>
                    </th:block>
                    <th:block th:if="${session.loginUser.getServiceNickName() != ''}">
                        <span class="user-title" th:text="${session.loginUser.getServiceNickName()}"></span>
                        <span style="color: transparent;
                        -webkit-text-stroke: 1px black;"> 님 환영합니다!</span>
                    </th:block>
                </div>

                <div class="myPageBtn">
                    <button class="upperBtn" onclick="location.href='/myPage'" type="button">마이 페이지</button>
                </div>
                <th:block th:if="${session.loginUser.getGrade() == 1}">
                    <div class="adminPageBtn">
                        <button class="upperBtn" onclick="location.href='/adminPage'" type="button">관리자 페이지</button>
                    </div>
                </th:block>
                <th:block th:if="${session.service.equals('kakao')}">
                    <div class="logoutBtn">
                        <button class="upperBtn"
                                onclick="location.href='https://kauth.kakao.com/oauth/logout?client_id=dd52d3a258bf3ccbc37de832dfecd0d4&logout_redirect_uri=http://localhost:8080/oauth/kakao/logout'"
                                type="button">
                            로그아웃
                        </button>
                    </div>
                </th:block>
                <th:block th:if="${session.service.equals('naver')}">
                    <div class="logoutBtn">
                        <button class="upperBtn"
                                onclick="location.href=''"
                                type="button">
                            로그아웃
                        </button>
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>

    <div class="bottomSpace">
        <th:block th:if="${session.loginUser != null}">
            <img alt="" class="volcanoBoom" src="/images/volcanoBoom.png">
            <button class="scheduleBtn" onclick="location.href='/schedule'" type="button">
                <img alt="스케줄" class="volcano" src="/images/volcano.png">
            </button>
        </th:block>
        <th:block th:if="${session.loginUser == null}">
            <img class="notLoginVolcano" src="/images/volcano.png">
        </th:block>
    </div>
</div>

<div id="modal">
    <div align="center" class="modal-content" id="login-modal">
        <h3 id="login-title">로그인</h3>
        <a href="https://kauth.kakao.com/oauth/authorize?client_id=dd52d3a258bf3ccbc37de832dfecd0d4&redirect_uri=http://localhost:8080/oauth/kakao/login&response_type=code"
           id="kakao-login-btn">
            <img alt="카카오 로그인 버튼"
                 src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg"
                 width="250"/>
        </a>
    </div>
</div>

</body>
<script>

</script>
<script>
    const modal = document.getElementById("modal");
    const openLoginBtn = document.getElementById("loginBtn");
    const closeModalBtn = document.getElementById("close-modal");

    // 모달창 열기
    openLoginBtn.addEventListener("click", () => {
        modal.style.display = "block";
        // document.body.style.overflow = "hidden"; // 스크롤바 제거
    });

    // 모달창 닫기
    // openLoginBtn.addEventListener("click", () => {
    //     modal.style.display = "none";
    //     // document.body.style.overflow = "auto"; // 스크롤바 보이기
    // });
</script>
</html>