<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/myPage.css">
</head>

<body>

<main>
    <div class="sideMenu">
        <div>
            <div id="adminBtn" onclick="location.href='/main'">
                <img src="/images/logo.png" alt="">
                <li id="admin">Profile</li>
            </div>
            <ul class="menuList" id="menuList">
                <div id="modifyBtn">
                    <li id="modify">Modify</li>
                </div>
                <!-- <div id="deleteBtn">
                    <li id="delete">User Delete</li>
                </div> -->

            </ul>
        </div>
    </div>
    <div class="contents">
        <div class="contentsWrap">
            <!-- user modify시작 -->
            <div class="userImgBox">
                <div>
                    <h1>Profile Details</h1>
                </div>
                <div class="userInfo">
                    <img th:src="${session.loginUser.getKakaoProfileImage()}" alt="">
                    <form action="user/updateNickName" method="post" class="InfoText">
                        <p>ID</p>
                        <input type="text" readonly="readonly" th:placeholder="${session.loginUser.getKakaoId()}">
                        <div class="center-title">
                            <th:block th:if="${session.loginUser.getServiceNickName() == ''}">
                                <p>NICK NAME</p>
                                <input type="text" th:placeholder="${session.loginUser.getKakaoNickName()}" name="nickName">
                            </th:block>
                            <th:block th:if="${session.loginUser.getServiceNickName() != ''}">
                                <p>NICK NAME</p>
                                <input type="text" th:placeholder="${session.loginUser.getServiceNickName()}" name="nickName">
                            </th:block>
                        </div>

                        <p>EMAIL</p>
                        <input type="text" th:placeholder="${session.loginUser.getEmail()}" readonly="readonly">
                        <p>AGE</p>
                        <input type="text" th:placeholder="${session.loginUser.getAge()}" readonly="readonly">
                        <p>GENDER</p>
                        <input type="text" th:placeholder="${session.loginUser.getGender()}" readonly="readonly">
                        <div>
                        <button class="saveBtn nickNameChangeBtn" type="submit">SAVE</button>



                        </div>
                    </form>
                    <form action="user/deleteUser" method="post" class="deleteBtn">
                        <button class="saveBtn" type="submit">Delete</button>
                    </form>

                </div>
            </div>

            <!-- user modify 끝 -->


        </div>
    </div>

</main>
<script defer="defer" src="/js/myPage.js"></script>
</body>

</html>