<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <thead>
    <tr>

        <th>scheduleNo</th>
        <th>userNo</th>
        <th>scheduleName</th>
        <th>startDay</th>
        <th>endDay</th>
        <th>dayAndNight</th>
    </tr>
    </thead>

    <tr th:each="mySchedule:${myScheduleList}">


        <th th:text="${mySchedule.scheduleNo}"/>
        <th th:text="${mySchedule.userNo}"/>
        <td th:text="${mySchedule.scheduleName}"/>
        <td th:text="${mySchedule.startDay}"/>
        <td th:text="${mySchedule.endDay}"/>
        <td th:text="${mySchedule.dayAndNight}"/>
    </tr>
    </tbody><tbody>

</table>
</body>
</html>