<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- 설명. 카카오맵 api appkey-->
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"
    ></script>
    <script
            type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=68b6fbdf7ad018b34a2bab823e0f11ae&libraries=services"
    ></script>
<!--    <link-->
<!--            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"-->
<!--            rel="stylesheet"-->
<!--            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"-->
<!--            crossorigin="anonymous"-->
<!--    />-->

    <link rel="stylesheet" href="/css/schedule.css" type="text/css" />
    <link rel="stylesheet" href="/css/registReview.css" type="text/css" />
</head>


<body>
<div class="schedule-container">
    <div class="scheduleSideBar">
        <div class="BtnBox">
            <div class="logoBtn" onclick="location.href='/main'">
                <img src="/images/logo.png" alt="">
            </div>
            <div class="homeBtn" id="homeBtn" >
                <img src="/images/home_house_icon.png" alt="" />
                <p>홈</p>
            </div>
            <div class="myScheduleBtn" id="myScheduleBtn">
                <img src="/images/schedule_icon.png" alt="" />
                <p>일정</p>
            </div>
            <div class="imgBtn" id="imgBtn" >
                <img src="/images/plus.png" alt="" />
                <p>new</p>
            </div>
            <div class="userImgBox">
                <img src="" alt="">
            </div>
        </div>
        <ul class="hideUserInfoBox">
            <li>mypage</li>
            <hr class="InfoBoxHr">
            <li>Logout</li>
        </ul>
    </div>
    <div class="schedule-list" id="schedule_wrap">
        <!-- <a href="/#"><img src="images/logo.png" style="height: 60px; width: 60px"/></a> -->

        <!-- 설명. 검색 box -->
        <div class="option">
            <div>
                <div  class="searchBox" id="searchBox">
                    <input type="text" placeholder="검색어를 입력해주세요" class="keyword" name="searchKeyword" method="GET"/>
                    <button class="searchKeyword" id="searchKeyword1" type="submit"><img src="/images/search.png" alt=""></button>
                </div>
<!--                                        <button onclick="getMapBounds()">현지도 경계 좌표 얻기</button>-->
            </div>

        </div>
        <div id="menu_wrap" class="bg_white menu_wrap">
            <hr />
            <ul class="placeList" id="placeList" >
<!--                <li th:each="place:${placeList}" class="placeItem">-->
<!--                    <div class="placeContents">-->
<!--                    <div class="placeInfo">-->
<!--                        <p th:text="${place.getPlaceNo()}" id="placeNo" style="display: none"></p>-->
<!--                        <h4 th:text="${place.getPlaceName()}"></h4>-->
<!--                        <p th:text="${place.getCategoryName()}"></p>-->
<!--                        <span th:text="${place.getPlaceAddress()}" class="placeAddr"></span><br>-->
<!--                        <span th:text="${place.getPhoneNumber()}"></span>-->
<!--                    </div>-->
<!--                    <img th:src="${place.thumbnailPath}" alt="">-->
<!--                    </div>-->
<!--                <hr>-->
<!--                </li>-->
            </ul>
            <div >
                <span>1</span>
                <span>2</span>
                <span>3</span>
            </div>
        </div>


        <!-- 설명. 일정 box-->
        <div id="day_wrap" class="bg_white day_wrap">



            <hr />
            <div class="scheduleBox">
                <div class="selectBox">
                    <select name="day" id="" class="daySelect form-select" aria-label="Default select example">
                        <option value="allday">전체일정</option>
                        <option value="1day" >1일차</option>

                    </select>
                    <button class="saveBtn">저장</button>
                </div>
                <div class="dayScheduleWrapper">
                    <ul id="placesList" class="dayList">
                        <li >
                            <div>
                                <img src="/images/daylistnum.png" alt=""><span class="listnum">1</span>
                                <p >음식점</p>

                                <span ></span>

                            </div>
                            <div class="dayPicture">
                                <img  alt="">
                                <p class="nextPlace" >다음 장소까지: <p >200</p>km</p>
                            </div>
                        </li>
                        <hr>

                    </ul>
                </div>
            </div>
        </div>



        <!-- 상세 box -->
        <div id="info_wrap" class="bg_white menu_wrap">
            <div class="imgBox">
                <div  id="imgPath"></div>
                <div class="titleBox">
                    <span id="placeName"></span>
                    <p id="=categoryName"></p>
                </div>
            </div>
            <hr class="infoContentsHr"/>
            <div class="infoBox">
                <nav class="navBar">
                    <li id="infoNav">정보</li>
                    <li id="reviewNav">리뷰</li>
                </nav>
                <hr class="infoContentsHr"/>
                <p style="margin: 10px">
                    <span id="introduction"></span>
                </p>
                <hr class="infoContentsHr"/>
                <div class="infoContents">
                    <div class="info">
                        <p>
                            <img src="/images/phone.png" alt="" />
                            <span id="phoneNumber"></span>
                        </p>

                        <p>
                            <img src="/images/marker.png" alt="" />
                            <span id="placeAddress"> </span>
                        </p>

                    </div>
                    <hr class="infoContentsHr"/>
                    <div class="addBtn">
                        <button class="scheduleAdd">일정 추가</button>
                    </div>
                </div>

                <div class="reviewContainer">
                    <div class="reviewHeader">
                        <div class="totlaPoint">
                            <span >3.8</span>
                        </div>
                        <div class="reiewBtnBox">
                            <button class="reviewBtn">
                                <img src="/images/reviewAdd.png" alt="" />리뷰 작성
                            </button>
                        </div>
                    </div>
                    <hr class="infoContentsHr"/>
                    <div class="reviewContentsBox">
                        <div class="reviewBox"  th:each="review:${reviews}">

                            <div class="userinfoBox">
                                <div class="userid" th:text="${review.getReviewWriter().getReviewWriterName()}"><img src="" alt="" /><span >JM</span></div>
                                <div class="star-ratings">
                                    <div class="star-ratings-fill space-x-2 text-lg"
                                            th:style="'width: '+${review.getStarPoint()} * 20 + '%'">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                    </div>
                                    <div class="star-ratings-base space-x-2 text-lg">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                    </div>
                                </div>
                            </div>

                            <div class="reviewContents" th:text="${review.getReviewContent()}">
                                <p >
                                    분위기 사먹으러 가세요. 음식은 쏘쏘인데, 식사보단 커피하러
                                    가시는걸 추천요. 양껏 먹는집은 아니에요ㅎㅎ 주말은 웨이팅
                                    있으니, 미리가서 대기 하셔야되요. 분위기는 좋아요

                                </p>
                            </div>
                            <div class="reviewImg">
                                <img th:src="@{'/images/reviewImages/'+${review.getSavedReviewImageName()}}"/>
                            </div>
                            <div class="csBox">
                                <div class="like white">

                                    <img src="/images/whiteLie.png" alt="" /><span>1</span>
                                </div>
                                <div class="like black">
                                    <img src="/images/blackLike.png" alt="" /><span>2</span>
                                </div>
                                <div class="report">
                                    <img src="/images/siren.png" alt="" /><span>신고</span>
                                </div>
                            </div>
                            <hr class="infoContentsHr">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--리뷰 작성 모달창-->
    <div class="modal">
        <div class="modal_body">리뷰 작성하기
            <form action="review/regist" name="review" id="review" method="post" encType="multipart/form-data">
                <button class="closeBtn">닫기</button>

                <div class="reviewStarPoint">
                    <fieldset>
                        <input type="radio" name="starPoint" value="5" id="rate1"><label
                            for="rate1">⭐</label>
                        <input type="radio" name="starPoint" value="4" id="rate2"><label
                            for="rate2">⭐</label>
                        <input type="radio" name="starPoint" value="3" id="rate3"><label
                            for="rate3">⭐</label>
                        <input type="radio" name="starPoint" value="2" id="rate4"><label
                            for="rate4">⭐</label>
                        <input type="radio" name="starPoint" value="1" id="rate5"><label
                            for="rate5">⭐</label><br>
                        <span th:text="${ nullStarPoint }" style="color:red;"></span>
                    </fieldset><br>
                </div>

            <div class="reviewContents1">
                <input type="file" name="imageFile" id="imageFile" accept="image/jpg, image/jpeg, image/png"
                       onchange="readURL(this);"><br>
                <span th:text="${ incorrectExtension }" style="color:red;"></span>
                <br>
                <img id="preview" style="width: 200px; height: 200px"/><br>
                <br>
                <textarea name="reviewContent" type="text" id="reviewContent"
                          placeholder="리뷰 내용을 입력해주세요"></textarea><br>
                <span th:text="${ nullContent }" style="color:red;"></span>
            </div>
            <input type="submit" value="등록하기">
        </form>

        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        document.getElementById('preview').src = e.target.result;
                    };
                    reader.readAsDataURL(input.files[0]);
                } else {
                    document.getElementById('preview').src = "";
                }
            }
        </script>
    </div>
</div>
    <div id="map" class="schedule-map" style="width: 65%; height: 100vh;"></div>
</div>


</div>

<script src="/js/kakaomap.js"></script>
<script  src="/js/schedule.js">

</script>
<script>
    const modal = document.querySelector('.modal');
    const btnOpenPopup = document.querySelector('.reviewBtn');
    const closeModalBtn = document.querySelector('.closeBtn')

    btnOpenPopup.addEventListener('click', () => {
        modal.style.display = 'block';
        document.body.style.overflow = "hidden"; // 스크롤바 제거
    });

    closeModalBtn.addEventListener("click", () => {
        modal.style.display = "none";
        document.body.style.overflow = "auto"; // 스크롤바 보이기
    });
</script>
</body>
</html>
